python-dotenv==1.0.1
pyrogram==2.0.106
pytgcalls==3.0.0.dev24
yt-dlp==2025.3.31
youtube-search==2.1.2
Pillow==11.0.0
motor==3.6.0
gunicorn==23.0.0
TgCrypto==1.2.5
PySocks==1.7.1
aiohttp==3.10.11
aiofiles==24.1.0
requests==2.32.3
pymongo==4.9.2
